icons_format = "{icon}"

[theme]
theme = "solarized-dark"
[theme.overrides]
idle_bg = "#2C323C"
idle_fg = "#6ba7ff"

[icons]
icons = "awesome4"
[icons.overrides]
bat = " | | "
bat_full = " |X| "
bat_charging = " |^| "
bat_discharging = " |v| "

[[block]]
block = "time"
interval = 5
format = " $timestamp.datetime(f:'%a %m/%d %R')"

[[block]]
block = "cpu"
[[block.click]]
button = "left"
cmd = "alacritty --command htop"

[[block]]
block = "disk_space"
path = "/home/"
info_type = "available"
alert_unit = "GB"
interval = 20
warning = 20.0
alert = 10.0
format = "$icon home:$available.eng(w:2)"
[[block.click]]
button = "left"
cmd = "alacritty --command ranger /home/justin/"

[[block]]
block = "memory"
format = " $icon$mem_used.eng(w:2) / $mem_total.eng(w:2) "
format_alt = " $icon_swap $swap_used.eng(w:2) "

[[block]]
block = "sound"
driver = "auto"
[[block.click]]
button = "left"
cmd = "pavucontrol"
