icons = "awesome"

[theme]
name = "solarized-dark"
[theme.overrides]
# separator = "|"
# separator_fg = "#654321"

# [[block]]
# block = "focused_window"
# max_width = 30
# show_marks = "visible"
# [block.theme_overrides]
# idle_bg = "#003400"
# idle_fg = "#efef00"

[[block]]
block = "time"
interval = 5
format = "%a %m/%d %R"

[[block]]
block = "net"
device = "enp0s31f6"
hide_inactive = true
hide_missing = true
interval = 5
format = "{ip}"# {speed_up} {speed_down}"

[[block]]
block = "net"
device = "enp0s13f0u1u4"
hide_inactive = true
hide_missing = true
interval = 5
format = "{ip}"# {speed_up} {speed_down}"

[[block]]
block = "net"
device = "wlan0"
hide_inactive = true
hide_missing = true
interval = 5
format = "{ssid}"

[[block]]
block = "disk_space"
path = "/"
alias = "/"
info_type = "available"
unit = "GB"
interval = 20
warning = 20.0
alert = 10.0
format = "{icon} root {available}"

[[block]]
block = "disk_space"
path = "/home"
alias = "/"
info_type = "available"
unit = "GB"
interval = 20
warning = 20.0
alert = 10.0
format = "{icon} home {available}"

[[block]]
block = "memory"
display_type = "memory"
# format_mem = "{mem_used_percents}"
format_mem = "{mem_used} /{mem_total}"
format_swap = "{swap_used_percents}"

[[block]]
block = "cpu"
interval = 3

# [[block]]
# block = "load"
# interval = 1
# format = "{1m}"

[[block]]
block = "backlight"
device = "intel_backlight"

[[block]]
block = "sound"

#[[block]]
#block = "xrandr"
#icons = true
#resolution = true
#interval = 600

#[[block]]
#block = "battery"
#interval = 10
#format = "{percentage} {time}"

